@use 'sass:color';
@use '../components/variables' as *;

button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: color.adjust($primary-color, $lightness: -10%);
    }
}